*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #d40000;
}
.container{
    position: relative;
    height: 400px;
    width: 400px;
    transform-style: preserve-3d;
    transform: rotateX(-35deg);
    animation: animate 6s linear infinite;
}
.container .cube{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    transform-style: preserve-3d;
}

@keyframes animate{
    0%{
        transform: rotateX(-35deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-35deg) rotateY(360deg); 
    }
}
.container .cube span{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background-image: url(myrobot2.png);
    background-size: cover;
    border: 1px solid #fff;
    transform: rotateY(calc(90deg * var(--i))) translateZ(200px);
   
}
.container .topface{
    position: relative;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background-image: url(welcome.png);
    background-size: cover;
    transform: rotateX(90deg) translateZ(200px);
    
}
.container .shadow{
    position: relative;
    height: 95%;
    width: 95%;
    background-color: black;
    opacity: 0.3;
    box-shadow: 0 0 40px #222, 0 0 80px #222;
    transform: rotateX(90deg) translateZ(100px);
}
